@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.style-empower-container {
    width: 100%;
    background-image: url('../../assets/blur02_3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 0;
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-empower-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    z-index: 1;
    height: 200px;
}

@media (max-width: 480px) {
    .style-empower-container{
        height: 200px;
        width: 96%;
        margin: 20px auto;
    }
}